{% extends  'template.html'%}
{% block conteudo %}
        <a class="btn btn-primary" href="{{ url_for('login') }}">Login</a>
        <a class="btn btn-danger" href="{{ url_for('logout') }}">Logout</a>
        <a class="btn btn-primary" href="{{ url_for('novo') }}">Cadastrar serviço</a>
        <form action="{{ url_for('resultado') }}" method="post">
            <input type="text" value="Pesquisa" name="busca" >
            <button  type="submit">Buscar</button>
        </form>
                {%for serviso in lista_de_servisos %}
                <div class="row row-cols-1 row-cols-md-3 g-4">
                  <div class="col">
                    <div class="card">
                      <img src="..." class="card-img-top" alt="...">
                      <div class="card-body">
                        <h5 class="card-title">{{serviso.nome}}</h5>
                        <ul>
                            <li><b>Valor:</b>{{serviso.valor}}</li>
                            <li><b>Categoria:</b>{{serviso.categoria}}</li>
                            <li><p>Descrição :{{serviso.descricao}} </p>
                            <li><a href="{{url_for('editar',id=serviso.id)}}">Editar</a></li>
                            <li><a href="{{url_for('deletar',id=serviso.id)}}">Deletar</a></li>

                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
                {% endfor %}
{% endblock %}