{% extends  'template.html'%}

{% block conteudo %}
    <div class="divimage"><img src="{{url_for('imagem',nome_arquivo='logo_menor.png')}}" alt="Logo"></div>
    <form method="POST" action="{{ url_for('autenticar') }}">
    <div class="container">
            <input type="hidden" name="proxima" value="{{ proxima or url_for('listarServisos') }}">

            {{ form.csrf_token() }}

            <div class="fonte">

                {{ form.email.label(class="orm-control form-control-lg") }}
                {{ form.email(class="form-label") }}
            </div>

            <div class="fonte">

                {{ form.senha.label(class="orm-control form-control-lg") }}
                {{ form.senha(class="form-label") }}

            </div>
            <div class="divbutton">
                {{ form.login(class="btn btn-primary") }}
                <a class="btn btn-danger" href="{{ url_for('index') }}">Voltar</a>
            </div>
        </div>
    </form>
<footer>

    <div class="fonte">
      <p>  Aviso de NÃO posse dos direitos autorais da marca CarHUB ©

      </p>
    </div>

  </footer>
{% endblock %}