{% extends  'template.html'%}
{% block conteudo %}
      <form class="formularioJogo" action="{{ url_for('criarPrestador') }}" method="post">

        <fieldset>
          {{ form.csrf_token() }}
          <div class="form-group inputBox">
            {{form.cnpj.label(class="form-label")}}
            {{form.cnpj(class="form-control")}}
          </div>
          <div class="form-group inputBox">
            {{form.nome.label(class="form-label")}}
            {{form.nome(class="form-control")}}
          </div>
          <div class="form-group inputBox">
            {{form.telefone.label(class="form-label")}}
            {{form.telefone(class="form-control")}}
          </div>
          <div class="form-group inputBox">
            {{form.email.label(class="form-label")}}
            {{form.email(class="form-control")}}
          </div>
          <div class="form-group inputBox">
            {{form.localidade.label(class="form-label")}}
            {{form.localidade(class="form-control")}}
          </div>
          <div class="form-group inputBox">
            {{form.senha.label(class="form-label")}}
            {{form.senha(class="form-control")}}
          </div>
          <div  class="form-group buttons">
            {{form.login(class="btn-primary")}}
            <a class="btn btn-danger" href="{{ url_for('index') }}">Voltar</a>
          </div>
        </fieldset>
      </form>
{% endblock %}